<p><%= link_to "<- Home", controller: "posts"%></p>
<p>
  <strong>Post deleted successfully </strong>
</p>
<p>
  <strong> Comment : </strong> 
</p>
<p><%= link_to "Create New Blog", new_post_path %></p>

